body{
    background:#2b2b2b;
    color:white;
}
.mainsection{
    border:white 3px solid;
    border-radius: 4%;
    position:absolute;
    top:17%;
    height:100%;
    width:90%;
    left:5%;
    box-shadow:white 4px 4px 4px;
}
.titlebar{
    border:white 4px solid;
    width:90%;
    position: fixed;
    left:5%;
    height:13%;
    top:-0.2%;
    background-color:#2b2b2b;
    z-index:2;
    font-size:4rem;
    text-align:center;
}
.founderphoto{
    position:relative;
    width:20%;
    height:20%;
    top:20;
    left:70%;
}
.smalloverview{
    top:-10%;
    width:60%;
    left:5%;
    position: relative;
    height:auto;
    font-size:2rem;
    font-family: 'NotoNormal';
}

@font-face{
    src:url('fonts/NotoSerif-Black.ttf') format('truetype');
    font-family: 'NotoNormal';
}